.quiz-container{
    width: 700px;
    margin: auto;
}

@media only screen and (max-width: 767px){

    .quiz-container{
        width: 550px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .quiz-container{
        width: 650px;
    }

}