.options-container{
    padding: 10px;
    border-radius: 5px;
    background-color: dimgrey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.option{
    margin: 5px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid white;
  
}
.option-link{
    margin-right: 20px;
}